body {
    margin:0;
}
header {
 background-color:black;
 margin:0;
 border-bottom: 3px double #bb6026;
}
header p{
    font-family: 'Pacifico', cursive;
    font-size:350%; 
    color:white;
    margin:auto;
    text-align: center;
}
nav{
background-color:black;
text-align: center;   
}
nav ol{
    margin:0;
    padding:1%;
}
nav li{
    display:inline;
    padding:7%;
    font-family: 'Open Sans', sans-serif;
    color:white;
    text-decoration:underline;
    margin:auto;
}
nav a:link{
     text-decoration: underline;
    color:white;
}
nav a:visited{
     text-decoration: underline;
    color:white; 
}
nav a:hover{
    color:#bb6026 ;
}
nav .activePage{
    color:white
    text-decoration:none;
}

.index{
   border-top: 2px solid white;
   background-color: #54250f ;
   font-family: 'Raleway', sans-serif;
}
#homepage{
    float:right;
}
.index h1{
    font-family: 'Pacifico', cursive;
    color:#bb6026;
    text-decoration: underline;
    font-size: 250%;
    padding-left:.75%;
    margin-bottom:-1%;
}
.index img{
    width:50%;
    float:right;
    display:block;
}
.index p{
    color:#ededec;
    font-size: 100%;
    padding-left:1.5%;
}
.index #feedback{
    color: #bb6026;
    padding: 1em;
    width: 70%;
    list-style: inside;
    margin: auto;
    line-height: 2em;
    list-style-type: none;
    background-color: rgba(0,0,0,.5);
}
.index #feedback p{
    font-size:100%;
}
.index #feedback ul{
    list-style-type:none;
    font-size: 90%;
}
    

.about {
  border-top: 2px solid white;
   background-color: #54250f ;
   font-family: 'Raleway', sans-serif;  
}

.about img{
    display:block;
    margin:auto;
}


#footer{
    background-color: black;
    border-top: 2.5px solid white;
    width: 100%;
    height: 10%;
}

footer p{
    color:gainsboro;
    font-family: 'Open Sans', sans-serif;
    text-align: right;
    font-size: 13px;
    padding-right: 2em;
}
